apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init-script
  namespace: jatra
data:
  init-databases.sh: |
    #!/bin/bash
    set -e

    psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "postgres" <<-EOSQL
        CREATE DATABASE auth_db;
        CREATE DATABASE schedule_db;
        CREATE DATABASE seat_reservation_db;
        CREATE DATABASE payment_db;
        CREATE DATABASE booking_db;
        CREATE DATABASE ticket_db;
        CREATE DATABASE notification_db;
        CREATE DATABASE user_db;
        CREATE DATABASE search_db;
        CREATE DATABASE admin_db;
        CREATE DATABASE reporting_db;
        
        GRANT ALL PRIVILEGES ON DATABASE auth_db TO jatra_user;
        GRANT ALL PRIVILEGES ON DATABASE schedule_db TO jatra_user;
        GRANT ALL PRIVILEGES ON DATABASE seat_reservation_db TO jatra_user;
        GRANT ALL PRIVILEGES ON DATABASE payment_db TO jatra_user;
        GRANT ALL PRIVILEGES ON DATABASE booking_db TO jatra_user;
        GRANT ALL PRIVILEGES ON DATABASE ticket_db TO jatra_user;
        GRANT ALL PRIVILEGES ON DATABASE notification_db TO jatra_user;
        GRANT ALL PRIVILEGES ON DATABASE user_db TO jatra_user;
        GRANT ALL PRIVILEGES ON DATABASE search_db TO jatra_user;
        GRANT ALL PRIVILEGES ON DATABASE admin_db TO jatra_user;
        GRANT ALL PRIVILEGES ON DATABASE reporting_db TO jatra_user;
    EOSQL

    echo "All databases created successfully!"
